extends includes/layout.pug

block content
  .container-fluid
    h3 Create new redirect
    if err
      .alert.alert-danger #[strong Error!] #{err.message}
    else if created
      .alert.alert-success #[strong Success!] The redirect is saved.
    form(method=method, target="/rs/manage")
      .input-group.input-group-lg.mb-2
        .input-group-prepend
          span.input-group-text= domain
        input(type="text", name="path", placeholder="some-path", value=redirect ? redirect.path : "", disabled=redirect ? true : false).form-control
      input(type="text", name="destination", placeholder="Destination like https://hello.com", value=redirect ? redirect.destination : "").form-control.mb-2
      select(name="type").form-control.mb-2
        option(selected=redirect && redirect.type != 301 || 307 ? true : false, disabled) Redirect type
        option(value="301", selected=redirect && redirect.type == 301 ? true : false) Permanent (301)
        option(value="307", selected=redirect && redirect.type == 307 ? true : false) Temporary (307)
      button(type="submit").btn.btn-primary Add redirect